<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tiffintrain">

    <uses-permission android:name="android.permission.INTERNET" />
   <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TiffinTrain">

        <meta-data
            android:name = "com.google.android.goo.API_KEY"
            android:value = "AIzaSyCyH2adrnilB_b-UF09tiUm3fT7tH3X91k"/>


        <activity
            android:name=".GetLocationActivity"
            android:exported="false" />
        <activity
            android:name=".DisplayTheCentreActivity"
            android:exported="false" />
        <activity
            android:name=".DisplayCentresActivity"
            android:exported="false" />
        <activity
            android:name=".CentreManagementActivity"
            android:exported="false" />
        <activity
            android:name=".CreateCentreActivity"
            android:exported="false" />
        <activity
            android:name=".OwnerOptionActivity"
            android:exported="false" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>